$defaultFontSize: 1.6rem;
$bgColor: #ffffff;
$textColorPrimary: #143642;
$fontFamily: Roboto, sans-serif;
$dangerColor: #ec9a29;
$errorColor: #a8201a;

:export {
  defaultFontSize: $defaultFontSize;
  bgColor: $bgColor;
  textColorPrimary: $textColorPrimary;
  fontFamily: $fontFamily;
  dangerColor: $dangerColor;
  errorColor: $errorColor;
}
