@import './config/styleVars.scss';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: $defaultFontSize;
  color: $textColorPrimary;
  background-color: $bgColor;
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
}
